<h1>Market Stocks <%= @stocks.length %></h1>

<div data-controller="stocks"
     data-stocks-url-value="<%= stocks_path(format: :json) %>"
     data-stocks-interval-value="10000">
  <table>
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Price</th>
      <th>Watchlist</th>
      <th>Buy</th>
    </tr>
    </thead>
    <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.symbol, stock_path(stock.id) %></td>
        <td><%= stock.name %></td>
        <td>$<%= stock.current_price || "N/A" %></td>

        <!-- Watchlist buttons -->
        <td>
          <% if Current.user.watchlist_items.exists?(stock: stock) %>
            <%= button_to "Remove", watchlists_path(stock.symbol), method: :delete, form_class: "inline" %>
          <% else %>
            <%= button_to "Add", watchlists_path(symbol: stock.symbol), method: :post, form_class: "inline" %>
          <% end %>
        </td>

        <!-- Buy form -->
        <td>
          <%= form_with url: trades_path, local: true do |f| %>
            <%= hidden_field_tag :symbol, stock.symbol %>
            <%= number_field_tag :shares, 1, min: 1 %>
            <%= submit_tag "Buy" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>