<ul class="<%= menu_class %>">
  <li>
    <%= nav_link "Home", root_path %>
  </li>
  <li>
    <%= nav_link "Stocks", stocks_path %>
  </li>
  <li>
    <%= nav_link "Account", "#" %>
  </li>
  <li>
    <%= button_to "Logout", logout_path, method: :delete,
                  class: "bg-alert hover:bg-alert-dark cursor-pointer text-sm text-color-font font-semibold py-2 px-2.5 rounded transition" %>
  </li>
</ul>